.App {
  text-align: center;
}

.asciiLogo {
  /* animation: App-logo-spin infinite 20s linear; */
  display: inline-block;
  font-family: "Lucida Console", Monaco, monospace;
  letter-spacing: -0.2em;
  line-height: 0.8em;
  text-shadow: 0 0 5px rgba(100,100,100,0.5);
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
